
#wrap{
    width:1000px;
    margin:0 auto;
    border:1px solid black;
}
#box{
    border:1px solid red;
    width:100%;
    height:50px;
    display:flex;
    justify-content:start;
    align-items: center;
    
}

/*
    flex는 레이아웃 구성, 현재실무에서 태그를 배치하는 방법중  하나
    display:flex가 적용된 태그는 부모태그라 하고
    flex적용된 태그의 하위태그들은 flex아이템 이라고 함
    
    flex는 주축과 교차축에 의해 배치됨
    주축 기준으로 배치는 justfity-content
    교차축 기준으로 배치는 align-items
*/


.logo_box{
    width:200px;
    /*float:left; */
}
.logo_box img{
    
    height:50px;

}

.menu_box{
    /* width: 800px; */
     width:calc( 100% - 200px )
}
.menu{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
    justify-content: space-around;
    

}

.menuTitle{
    
    /*margin-left:80px;*/
    
    

}


#box2{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    row-gap: 50px;
}

.items{
    width:300px;
    /*overflow:hidden;  칸을 넘어가는 이미지를 숨김*/
}