/*
css 이동해서 html에 모양, 색, 크기 적용시키려면
id(#) class(.)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


#spec{
    margin:20px;
    border-collapse: collapse;
    border-top:1px solid black
}

#spec th,
#spec td{
    padding: 0.2em;
    border-bottom: 1px solid red;
    border-right:1px solid green;
}
#spec th:last-child,
#spec td:last-child{
    border-right:none;
}

#spec th{
    background-color:blanchedalmond;
}

#grade{
    margin:30px;
    border-top:1px solid blue;
}

#grade th, 
#grade td
{
    border-bottom:1px solid red;
    border-right:1px solid green;
}

#grade th:last-of-type,
#grade td:last-of-type{
    border-right:none;
}

#box3>p:last-of-type{
    color:red;
}

#box2>p:nth-child(2n){
    color:orange;
}

#box1>p:last-child{
    color:purple;
}



#box1>p:nth-child(2){
    color:yellow;
}
a{
    text-decoration:none;
}
#p1, .p2 {color:red;}
 
#parent>p{
    color:yellow;
}

#apply:hover{
    cursor:grab;
}
#apply:active{
    cursor:grabbing;
}
#resume td{
    border:1px solid orange;
}

#resume tr:nth-child(2n)>td{
    background-color: burlywood;
}

.title{
    text-align:right;
    padding-right:10px;
}

.intro{
    font-size:14px;
}

#resume{
    width:500px;
    margin:0 auto;
}

.need{
    border: 3px solid red;
    border-radius: 15px;
    outline:none;
}

select[name=part]{
    width:172px;
}
input[type=date]{
    width:172px;
    font-size:20px;
}
input[type=number]{
    width:70px;
}

#selfintro{
    width:350px;
    height:150px;
    resize:none;
    overflow:hidden
}